<section class = "top-page-container">
    
    <h1 class = "top-heading">ようこそ <strong class = "top-heading">Bookers</strong> へ！</h1>
    
    <p class = "top-message font-size-13">
        <strong>Bookers</strong> では、さまざまな書籍に関するあなたの意見や
    </p>
    <p class = "top-message font-size-13">
        印象を共有し交換することができます
    </p>
    <p class = "top-message font-size-13">
        <%= link_to 'start', books_path %>
    </p>
        
   
</section>

