<% if @book.errors.any? %>
    <div class = "alert font-size-13">
        <div class = "error-heading">
            <p>
                <%= @book.errors.full_messages.length %> error prohibited this book from being saved:
            </p>
        </div>
        
        <div class = "error-body">
            <ur>
                <% @book.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ur>
        </div>
        
    </div>
<% end %>